/* Définition des couleurs pour le site */
$color-bckground: #f3e9f1;
$color-primary: rgba(252,176,69,1);
$color-secondary:  rgba(131,58,180,1);

/*Importation des polices de caractères*/
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap');

body {
    box-sizing: border-box;
    margin: 0 auto;
    background-color: $color-bckground;
    font-family: 'Montserrat', sans-serif;
}

header {
    .menu-title {
        font-family: 'Knewave', cursive;
        width: 84%;
        font-size: 30px;
        color: $color-primary;
        &:hover, &:focus {
            color: $color-secondary;
        }
    }
    .menu-icon {
        margin-right: 4px;
    }
    .nav-link {
        color: $color-primary;
        &:hover, &:focus {
            color: $color-secondary;
        }
    }
    .fa-bars {
        color: $color-primary;
        margin-top: 5px;
    }
    .navbar-toggler {
        border: 1px solid $color-primary;
    }
}

.row {
    justify-content: center;
}

.card {
    margin-bottom: 15px;
    .card-link {
        cursor: pointer;
        color: black;
        &:hover{
            box-shadow: 0px 0px 5px 5px rgba(152,152,152,0.76);
-webkit-box-shadow: 0px 0px 5px 5px rgba(152,152,152,0.76);
-moz-box-shadow: 0px 0px 5px 5px rgba(152,152,152,0.76);
            color: #BF360C;
        }
    }
    .card-img {
        width: 20%;
        height: 100%;
        object-fit: cover;
    }
    .card-body {
        float: right;
        width: 78%;
    }
}

.jumbotron {
    text-align: center;
    background: linear-gradient(148deg, rgba(252,176,69,1) 0%, rgba(131,58,180,1) 100%);
}

footer a {
    color: $color-primary;
    &:hover, &:focus {
        color: $color-secondary;
    }
}
footer {
    margin-top: 50px;
    li {
        padding: 15px;
    }
}

@media screen and (max-width:990px) {
    .card {
        .card-img {
            width: 100%;
            height: 68%;
        }
        .card-body {
            width: 100%;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
    }
    .col-11 {
        flex-direction: column;
        .col-6 {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }
}

/* Modification de la page "product.html" */
#product {
    margin: 15px;
    .product-img {
        float: left;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .info {
        float: right;
        width: 100%;
        .add-cart {
            padding: 5px;
            margin-top: 15px;
            background: linear-gradient(148deg, rgba(252,176,69,1) 0%, rgba(131,58,180,1) 100%);
            border: 1px solid transparent;
            color: white;
        }
        .response {
            color: #25D366;
            padding: 5px;
            text-align: center;
            width: 250px;
            margin-top: 25px;

        }
    }
}

/*Modification de la page shop.html*/
.shopArr {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 2px solid lightgray;
    h2 {
        font-size: 25px;
        font-weight: lighter;
        border-right: 2px solid lightgray;
        padding-left: 15px;
    }
    .prod {
        width: 50%;
        text-transform: uppercase;
    }
    .prix,
    .quantity,
    .total {
        width: 20%;
        text-transform: uppercase;
    }
}

#shop {
    margin-bottom: 68px;
    article {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-bottom: 2px solid lightgray;
        div {
            height: 100px;
        }
        .prod {
            width: 44%;
            display: flex;
            img {
                width: 35%;
                margin: 5px;
                object-fit: cover;
            }
            h2 {
                margin: 25px;
                font-weight: 200;
            }
        }
        .price,
        .quantity,
        .total {
            width: 18%;
            padding-top: 35px;
            text-align: center;
            h2 {
                font-size: 19px;
            }
        }      
    }
}
.prix_total {
    margin: 0 15px 50px;
}

a.validate,
a.validate:hover {
    position: relative;
    left: 40%;
    text-decoration: none;
    color: #BF360C;
    cursor: pointer;
    border: 1px solid black;
    padding: 12px;
}

form {
    margin: 0 auto;
    width: 65%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    div + div {
        margin-top: 1em;
    }
    label {
        display: inline-block;
        width: 90px;
    }
    input, textarea {
        font: 1em, sans-serif;
        width: 300px;
        box-sizing: border-box;
        border: 1px solid #999;
        &:focus {
            border-color: #000;
        }
    }
}

