@charset "UTF-8";
/* Définition des couleurs pour le site */
/*Importation des polices de caractères*/
@import url("https://fonts.googleapis.com/css2?family=Knewave&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap");
body {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #f3e9f1;
  font-family: "Montserrat", sans-serif;
}

header .menu-title {
  font-family: "Knewave", cursive;
  width: 84%;
  font-size: 30px;
  color: #fcb045;
}
header .menu-title:hover, header .menu-title:focus {
  color: #833ab4;
}
header .menu-icon {
  margin-right: 4px;
}
header .nav-link {
  color: #fcb045;
}
header .nav-link:hover, header .nav-link:focus {
  color: #833ab4;
}
header .fa-bars {
  color: #fcb045;
  margin-top: 5px;
}
header .navbar-toggler {
  border: 1px solid #fcb045;
}

.row {
  justify-content: center;
}

.card {
  margin-bottom: 15px;
}
.card .card-link {
  cursor: pointer;
  color: black;
}
.card .card-link:hover {
  box-shadow: 0px 0px 5px 5px rgba(152, 152, 152, 0.76);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(152, 152, 152, 0.76);
  -moz-box-shadow: 0px 0px 5px 5px rgba(152, 152, 152, 0.76);
  color: #BF360C;
}
.card .card-img {
  width: 20%;
  height: 100%;
  object-fit: cover;
}
.card .card-body {
  float: right;
  width: 78%;
}

.jumbotron {
  text-align: center;
  background: linear-gradient(148deg, #fcb045 0%, #833ab4 100%);
}

footer a {
  color: #fcb045;
}
footer a:hover, footer a:focus {
  color: #833ab4;
}

footer {
  margin-top: 50px;
}
footer li {
  padding: 15px;
}

@media screen and (max-width: 990px) {
  .card .card-img {
    width: 100%;
    height: 68%;
  }
  .card .card-body {
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .col-11 {
    flex-direction: column;
  }
  .col-11 .col-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
/* Modification de la page "product.html" */
#product {
  margin: 15px;
}
#product .product-img {
  float: left;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#product .info {
  float: right;
  width: 100%;
}
#product .info .add-cart {
  padding: 5px;
  margin-top: 15px;
  background: linear-gradient(148deg, #fcb045 0%, #833ab4 100%);
  border: 1px solid transparent;
  color: white;
}
#product .info .response {
  color: #25D366;
  padding: 5px;
  text-align: center;
  width: 250px;
  margin-top: 25px;
}

/*Modification de la page shop.html*/
.shopArr {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 2px solid lightgray;
}
.shopArr h2 {
  font-size: 25px;
  font-weight: lighter;
  border-right: 2px solid lightgray;
  padding-left: 15px;
}
.shopArr .prod {
  width: 50%;
  text-transform: uppercase;
}
.shopArr .prix,
.shopArr .quantity,
.shopArr .total {
  width: 20%;
  text-transform: uppercase;
}

#shop {
  margin-bottom: 68px;
}
#shop article {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 2px solid lightgray;
}
#shop article div {
  height: 150px;
}
#shop article .prod {
  width: 44%;
  display: flex;
}
#shop article .prod img {
  width: 35%;
  margin: 5px;
  object-fit: cover;
}
#shop article .prod h2 {
  margin: 25px;
  font-weight: 200;
}
#shop article .price,
#shop article .quantity,
#shop article .total {
  width: 18%;
  padding-top: 35px;
  text-align: center;
}
#shop article .price h2,
#shop article .quantity h2,
#shop article .total h2 {
  font-size: 19px;
}

.prix_total {
  margin: 0 15px 50px;
}

a.validate,
a.validate:hover {
  position: relative;
  left: 40%;
  text-decoration: none;
  color: #BF360C;
  cursor: pointer;
  border: 1px solid black;
  padding: 12px;
}

form {
  margin: 0 auto;
  width: 550px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}
form div + div {
  margin-top: 1em;
}
form label {
  display: inline-block;
  width: 400px;
  margin-top: 5px;
}
form label span {
  color: red;
  float: right;
}
form input, form textarea {
  font: 1em, sans-serif;
  width: 500px;
  box-sizing: border-box;
  border: 1px solid #999;
}
form input:focus, form textarea:focus {
  border-color: #000;
}

.titleForm {
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
  padding: 25px;
}

#formBtn {
  margin: 25px auto;
  padding: 15px;
  text-transform: uppercase;
  width: 350px;
  margin-left: 35%;
  margin-top: 60px;
}

/*# sourceMappingURL=style.css.map */
