@charset "UTF-8";
/* Définition des couleurs pour le site */
/*Importation des polices de caractères*/
@import url("https://fonts.googleapis.com/css2?family=Knewave&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap");
body {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #f3e9f1;
  font-family: "Montserrat", sans-serif;
}

/* ------------- ALL PAGES ------------- */
header .menu-title {
  font-family: "Knewave", cursive;
  font-size: 30px;
  color: #fcb045;
  width: 85%;
  text-align: center;
}
header .menu-title:hover, header .menu-title:focus {
  color: #833ab4;
}
header .menu-icon {
  margin-right: 4px;
}
header .nav-link {
  color: #fcb045;
}
header .nav-link:hover, header .nav-link:focus {
  color: #833ab4;
}
header .fa-bars {
  color: #fcb045;
  margin-top: 5px;
}
header .navbar-toggler {
  border: 1px solid #fcb045;
}

section.row {
  justify-content: center;
  width: 100%;
  margin: 0;
}

.jumbotron {
  text-align: center;
  background: linear-gradient(148deg, #fcb045 0%, #833ab4 100%);
}

footer a {
  color: #fcb045;
}
footer a:hover, footer a:focus {
  color: #833ab4;
}

footer {
  margin-top: 50px;
}
footer li {
  padding: 15px;
}

/* ---------- PAGE INDEX ----------- */
.card {
  margin-bottom: 15px;
  height: max-content;
}
.card .card-link {
  cursor: pointer;
  color: black;
}
.card .card-link:hover {
  box-shadow: 0px 0px 5px 5px rgba(152, 152, 152, 0.76);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(152, 152, 152, 0.76);
  -moz-box-shadow: 0px 0px 5px 5px rgba(152, 152, 152, 0.76);
  color: #BF360C;
}
.card .card-img {
  width: 20%;
  height: 100%;
  object-fit: cover;
}
.card .card-body {
  float: right;
  width: 78%;
}

/* --------- PAGE PRODUCT --------- */
#product {
  margin: 15px;
  padding: 0;
}
#product .image {
  width: 45%;
}
#product .product-img {
  float: left;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#product .info {
  float: right;
  width: 50%;
}
#product .info .add-cart {
  padding: 5px;
  margin-top: 15px;
  background: linear-gradient(148deg, #fcb045 0%, #833ab4 100%);
  border: 1px solid transparent;
  color: white;
}
#product .info .response {
  color: #25D366;
  padding: 5px;
  text-align: center;
  width: 250px;
  margin-top: 25px;
}

.choice-lenses {
  width: 100%;
}
.choice-lenses form {
  width: 90%;
}
.choice-lenses form select {
  width: 90%;
}

/* -------- PAGE SHOP ---------*/
#shopArr {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 2px solid lightgray;
}
#shopArr h2 {
  font-size: 25px;
  font-weight: lighter;
  padding-left: 15px;
}
#shopArr .prodArr {
  width: 62%;
  border-right: 2px solid lightgray;
  text-transform: uppercase;
}
#shopArr .prixArr {
  width: 32%;
  text-transform: uppercase;
}

#shop {
  margin-bottom: 68px;
}
#shop article {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 2px solid lightgray;
}
#shop article div {
  height: 150px;
}
#shop article .prod {
  width: 68%;
  display: flex;
}
#shop article .prod img {
  width: 35%;
  margin: 5px;
  object-fit: cover;
}
#shop article .prod h2 {
  padding: 50px;
  font-weight: 200;
}
#shop article .price {
  width: 32%;
  padding-top: 35px;
  text-align: center;
}
#shop article .price h2 {
  font-size: 19px;
}

.total {
  margin: 0 15px 50px;
}
.total .total_price {
  font-size: 25px;
  margin-right: 25px;
}

.ok {
  background: linear-gradient(148deg, #fcb045 0%, #833ab4 100%);
  padding: 25px;
  text-align: center;
  height: 75px;
}
.ok a.validate,
.ok a.validate:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 12px;
}

/* ---------- PAGE FORM.HTML -------- */
form {
  margin: 0 auto;
  width: 55%;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}
form div + div {
  margin-top: 1em;
}
form label {
  display: inline-block;
  width: 25%;
  margin-top: 5px;
}
form label span {
  color: red;
  margin: 0 5px;
}
form input, form textarea {
  font: 1em, sans-serif;
  width: 70%;
  box-sizing: border-box;
  border: 1px solid #999;
}
form input:valid, form textarea:valid {
  border: 1px solid black;
}
form input:focus, form textarea:focus {
  border-color: #000;
}
form #firstName,
form #address {
  text-transform: capitalize;
}
form #lastName,
form #city {
  text-transform: uppercase;
}

.titleForm {
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
  padding: 25px;
}

.submitBtn {
  margin-top: 25px;
  height: 75px;
  text-align: center;
  height: max-content;
}
.submitBtn #formBtn {
  background: linear-gradient(148deg, #fcb045 0%, #833ab4 100%);
  border: none;
  padding: 15px;
  text-transform: uppercase;
}

.confirm {
  margin: 15px;
  padding: 10px 5px;
}

.msg_confirm,
.address_confirm,
.orderId {
  color: #2E7D32;
  font-size: 15px;
}

#first_name_error,
#last_name_error,
#email_error,
#address_error,
#city_error {
  margin: 25px;
}

.fa-arrow-circle-left {
  margin-right: 15px;
  font-family: "Knewave", cursive;
  font-size: 30px;
  color: #fcb045;
}
.fa-arrow-circle-left:hover, .fa-arrow-circle-left:focus {
  color: #833ab4;
}

/* ----------- RESPONSIVE ------------ */
@media screen and (max-width: 990px) {
  header .menu-title {
    width: 80%;
  }

  main.container {
    width: 100%;
    padding: 0;
  }
  main.container .jumbotron {
    border-radius: 0;
  }

  .card {
    margin: 0 25px 10px;
  }
  .card .card-img {
    width: 100%;
    height: 68%;
  }
  .card .card-body {
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card .description {
    text-align: justify;
  }

  #product {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: max-content;
  }
  #product .image {
    width: 100%;
    padding: 0;
  }
  #product .info {
    width: 70%;
    margin: 5px auto;
    height: max-content;
  }
  #product .info .product-price, #product .info .product-title {
    text-align: center;
  }
  #product .info .product-description {
    text-align: justify;
  }

  #shopArr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid lightgray;
  }
  #shopArr h2 {
    font-size: 24px;
  }
  #shopArr .prodArr {
    width: 68%;
    text-align: center;
    border-right: 1px solid lightgray;
  }
  #shopArr .prixArr {
    width: 32%;
    text-align: center;
  }

  #shop {
    margin: 5px;
    display: flex;
    flex-direction: column;
  }
  #shop .article {
    margin: 4px auto;
    height: max-content;
    border: 2px solid lightgray;
    border-radius: 5px;
  }
  #shop .article .prod {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 68%;
  }
  #shop .article .prod img {
    width: 100%;
    margin: 0;
    border-radius: 5px;
  }
  #shop .article .prod h2 {
    padding: 5px 0;
    margin: 0;
    font-size: 28px;
    text-align: center;
  }
  #shop .article .price {
    width: 30%;
    height: 100%;
    margin-left: 5px;
    text-align: center;
  }

  #basket {
    margin: 15px;
    font-size: 32px;
  }
  #basket span {
    float: right;
  }

  .ok {
    height: 75px;
    padding-top: 20px;
    cursor: pointer;
  }
  .ok a.validate {
    color: black;
    font-size: 24px;
  }
  .ok a.validate:hover {
    color: #333;
    font-weight: bold;
  }

  form {
    width: 90%;
  }
  form label {
    margin-top: 15px;
    width: 32%;
  }
  form input {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
